# المكتبات الحالية
Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-WTF==1.2.1
WTForms==3.1.2
SQLAlchemy==2.0.23
Werkzeug==2.3.7
Jinja2==3.1.3
gunicorn==21.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
humanize==4.9.0
Babel==2.12.1
arabic-reshaper==3.0.0
python-bidi==0.4.2

# ===== المكتبات للتقارير =====
# WeasyPrint للتشغيل المحلي
weasyprint==60.2
cffi==1.16.0

# PDFKit للإنتاج على Render
pdfkit==1.0.0

# لتصدير Excel
pandas==2.1.4
openpyxl==3.1.2
xlrd==2.0.1
XlsxWriter==3.1.9